:root{
    --logo-color: #FB3F6C;
    --text-primary: #282C4B;
    --text-secondary: #747582;
    --text-altenative: #F17216;
    --button-color: linear-gradient(to right, #FF698D, #FB3F6C);
    --base-font-size: 20px;
    --nav-font-size: 16px;

}

body{
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif; 
    max-width: 100vw;
}

.business-name{ 
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.highlight{ 
    color: #FB3F6C;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 3rem;
    align-self: center;
}

.nav-links a{
    text-decoration: none;
    color: #747582;
    font-size: 16px;
    display: inline;
    padding: 1rem;
}

.nav-links button{
    border: 1px solid #FF698D;
    font-size: 14px ;
    background-color: #fff5f5;
    display: flex;
    align-self: center;
}

.get-started-btn,
.talk-btn{
    border-radius: 2rem;
    font-size: 14px;
    font-weight: bold;
    padding: 1rem 2rem;
}



.top-page{
    background-color: #fff5f5;
    margin: 1% 1%;
}

.top-page-container{
    margin-left: 5%;
    margin-right: 5%;
}

.verify{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #F17216;
    padding-bottom: 1rem;
}

.verify img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 0.5rem;
}


.top-heading h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  color: #282C4B;
  line-height: 70px;
}

.curve-wrap {
  position: relative;
  display: inline-block;
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.4rem; /* Adjust height of curve */
  pointer-events: none;
}

.curve path {
  stroke: #ff6584;
  stroke-width: 3;
  fill: none;
  stroke-linecap: round; 
}

.text-container{
    padding-top: 5rem;
}

.text-container p{
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: #747582;
    margin-bottom: 5rem;
    text-align: left;
    max-width: 550px;
}

.top-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-section-btn{
    display: flex;
}

.get-started-btn{
    background-image: linear-gradient(to right, #FF698D, #FB3F6C);
    color: #FFFF;
    margin-right: 2rem;
    border: none;
}

.get-started-btn:hover{
    opacity: 0.9;
    transition: all 0.2 ease;
}

.watch-btn-container{
    display: flex;
    align-items: center;

}

.watch-btn-container button{
    border: none;
    color:  #282C4B;
    background-color: none;
    background-image: none;
    font-size: 14px;
    font-weight: bold;
}




